<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="NgxDatatable">
          <i class="fa fa-table"></i> <span>ngx-Datatable</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="Webix">
          <i class="fa fa-exchange"></i> <span>Webix Tree</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>