<div class="container-fluid">
  <div class="error-page" >
      <h2 class="headline text-blue"> 404</h2>

      <div class="error-content">
          <h3><i class="fa fa-warning text-blue"></i> Oops! Page not found.</h3>
          <p>
              We could not find the page you were looking for.
              Meanwhile, you may <a (click)="returnToHomeFn();" style="cursor:pointer;">return to Home</a>
          </p>
      </div>
  </div>
</div>