<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header content-header">
                <h1>
                    Drag &amp; Drop Tree
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="webix_full_screen">	
			<div id="testB" style='width:300px; height:300px' style="margin-left: 0px; margin-right: 0px;"></div>
		</div>
    </div>
</div>
