/* Box ni upar ni grey border hide karva */
.removeTopGreyBorder {
    border-top: 0px;
}

.actionbtn {
    padding: 0px 0px; 
    background: transparent;
}

/* Display table header names in center. */
.table > thead > tr > th{
    text-align: center;
}

.noDataFound {
    color: #333;
    font-weight: bold;
    background-color: #efefef;
    text-align: center;
    height: 75px;
    font-size: 17px;
}

/* for validation */
.requiredError {
	color: #dd4b39;
    font-weight: bold;
    vertical-align: middle;
}
.done {
    color: #00a65a;
    vertical-align: middle;
}

/* Margin top */
.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}


/* Margin right */
.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

/* Margin bottom */
.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

/* Margin left */
.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-100 {
    margin-left: 100px;
}