<header class="main-header">
  <!-- Logo -->
  <a routerLink="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">D</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">Demo</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="color: #f6f6f6;">
                <img src="./assets/img/avatars/avatar5.png" class="user-image" alt="">
                <span>Tammy Simmon</span>
              </a>
              <!-- <ul class="dropdown-menu animated fadeInRight">
                  <div class="box box-widget widget-user-2 no-padding" style="margin-bottom: 0px;">
                    <ul class="nav nav-stacked">
                        <li><a href="javascript:void(0);" style="color: #333; cursor: pointer;">Edit Profile <i class="fa fa-gears pull-right" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0);" style="color: #333;">Change Password <i class="fa fa-key pull-right" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0);" style="color: #333;">Sign out <i class="fa fa-sign-out pull-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
              </ul> -->
            </li>
        </ul>
      </div>
  </nav>
</header>